body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image:url('src/wallpaper.jpg');
  font-size: 18px;
  background-size: contain;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.square{
  width: 100px;
  height: 100px;
  background: blue;
  border-width: 10px;
  border-color: black;
  position: absolute;
  border-style:dotted;
}

.yoshi{  
  width: 100px;
  height: 150px;
  position: absolute;
  background-image:url('src/yoshi.png');
  background-size: contain;
  -webkit-transition:width 1s, height 1s, -webkit-transform 1s;
  transition:width 1s, height 1s, transform 1s;
}

.yoshi:hover{
    background-image:url('src/yoshi.png');
    width:100px;
    height:150px;
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
}

.coin{
  width: 89px;
  height: 87px;
  position: absolute;
  background-image:url('src/Star_Coin.png');
  background-size: contain;
}